body{
    background-image: url('png/1\ \(1\).png');
    background-size:cover;
    color: black;
}
h3{
    color:white;
    font-family: monospace;
}
/*-- Menu bar--*/
.menu a{
    text-decoration: none;
    color:white;
}
.menu{
    margin-top: 0px;
    width: 100%;
    background:linear-gradient(45deg, #d82f87, #2a1b3d, #44318D, #501d18, #024553);
}
.menu ul{
    display: inline-flex;
    padding: 10px;
}
.menu ul li{
    list-style-type: none;
    margin: 0 6px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    position: relative;
}
.menu ul li::after{
    content: '';
    height: 3px;
    width: 100%;
    background: radial-gradient(#8904DC, #F72B9E, #F8D040);
    position: absolute;
    left: 0;
    bottom: -9px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}
.menu ul .active:hover{
    color: #8904DC;
}
.menu ul .passive:hover{
    color: blue;
}
.menu ul .med:hover{
    color: #F72B9E;
}
.menu ul li:hover::after{
    opacity: 1;
}
.menu1{
    margin-top: 20px;
    padding-left: 50%;
}
.menu1 ul li{
    list-style-type: none;
    margin: 0 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.btn-aboutus{
    position: absolute;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(#4A2F52, #4A2F52), radial-gradient(circle at top left, #8904DC, #F72B9E, #F8D040);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.btn-aboutus span{
    display: block;
    padding: 8px 22px;
}

/*-- Dataset attributes --*/
#first { 
    position: absolute; 
    top: 300px; 
    right: 50%; 
    font-size: 20px; 
    padding: 15px; 
} 
#first::before { 
    content: "1. Profile pic"; 
    text-align: center;
    color: white;
    position: absolute; 
    top: 0%; 
    right: 0%; 
    width: 100%; 
    height: 100%; 
    background: darkorchid; 
    transition: 0.5s ease-in-out; 
} 
#first:hover::before { 
    right: -100%; 
} 
#second { 
    position: absolute; 
    top: 400px; 
    right: 50%; 
    font-size: 20px; 
    padding: 15px; 
} 
#second::before { 
    content: "2. nums/length username"; 
    text-align: center;
    color: white;
    position: absolute; 
    top: 0%; 
    right: 0%; 
    width: 100%; 
    height: 100%; 
    background: darkorchid; 
    transition: 0.5s ease-in-out; 
} 
#second:hover::before { 
    right: -100%; 
} 
#third { 
    position: absolute; 
    top: 500px; 
    right: 50%; 
    font-size: 20px; 
    padding: 15px; 
} 
#third::before { 
    content: "3. fullname words"; 
    text-align: center;
    color: white;
    position: absolute; 
    top: 0%; 
    right: 0%; 
    width: 100%; 
    height: 100%; 
    background: darkorchid; 
    transition: 0.5s ease-in-out; 
} 
#third:hover::before { 
    right: -100%; 
} 
#fourth { 
    position: absolute; 
    top: 600px; 
    right: 50%; 
    font-size: 20px; 
    padding: 15px; 
} 
#fourth::before { 
    content: "4. nums/length fullname"; 
    text-align: center;
    color: white;
    position: absolute; 
    top: 0%; 
    right: 0%; 
    width: 100%; 
    height: 100%; 
    background: darkorchid; 
    transition: 0.5s ease-in-out; 
} 
#fourth:hover::before { 
    right: -100%; 
} 
#fifth { 
    position: absolute; 
    top: 700px; 
    right: 50%; 
    font-size: 20px; 
    padding: 15px; 
} 
#fifth::before { 
    content: "5. name == username"; 
    text-align: center;
    color: white;
    position: absolute; 
    top: 0%; 
    right: 0%; 
    width: 100%; 
    height: 100%; 
    background: darkorchid; 
    transition: 0.5s ease-in-out; 
} 
#fifth:hover::before { 
    right: -100%; 
} 
#sixth { 
    position: absolute; 
    top: 800px; 
    right: 50%; 
    font-size: 20px; 
    padding: 15px; 
} 
#sixth::before { 
    content: "6. description length"; 
    text-align: center;
    color: white;
    position: absolute; 
    top: 0%; 
    right: 0%; 
    width: 100%; 
    height: 100%; 
    background: darkorchid; 
    transition: 0.5s ease-in-out; 
} 
#sixth:hover::before { 
    right: -100%; 
}
#seventh { 
    position: absolute; 
    top: 900px; 
    right: 50%; 
    font-size: 20px; 
    padding: 15px; 
} 
#seventh::before { 
    content: "7. external URL"; 
    text-align: center;
    color: white;
    position: absolute; 
    top: 0%; 
    right: 0%; 
    width: 100%; 
    height: 100%; 
    background: darkorchid; 
    transition: 0.5s ease-in-out; 
} 
#seventh:hover::before { 
    right: -100%; 
} 
#eighth { 
    position: absolute; 
    top: 1000px; 
    right: 50%; 
    font-size: 20px; 
    padding: 15px; 
} 
#eighth::before { 
    content: "8. private"; 
    text-align: center;
    color: white;
    position: absolute; 
    top: 0%; 
    right: 0%; 
    width: 100%; 
    height: 100%; 
    background: darkorchid; 
    transition: 0.5s ease-in-out; 
} 
#eighth:hover::before { 
    right: -100%; 
} 
#ninth { 
    position: absolute; 
    top: 1100px; 
    right: 50%; 
    font-size: 20px; 
    padding: 15px; 
} 
#ninth::before { 
    content: "9. #posts"; 
    text-align: center;
    color: white;
    position: absolute; 
    top: 0%; 
    right: 0%; 
    width: 100%; 
    height: 100%; 
    background: darkorchid; 
    transition: 0.5s ease-in-out; 
} 
#ninth:hover::before { 
    right: -100%; 
} 
#tenth { 
    position: absolute; 
    top: 1200px; 
    right: 50%; 
    font-size: 20px; 
    padding: 15px; 
} 
#tenth::before { 
    content: "10. #followers"; 
    text-align: center;
    color: white;
    position: absolute; 
    top: 0%; 
    right: 0%; 
    width: 100%; 
    height: 100%; 
    background: darkorchid; 
    transition: 0.5s ease-in-out; 
} 
#tenth:hover::before { 
    right: -100%; 
} 
#eleventh { 
    position: absolute; 
    top: 1300px; 
    right: 50%; 
    font-size: 20px; 
    padding: 15px; 
} 
#eleventh::before { 
    content: "11. #follows"; 
    text-align: center;
    color: white;
    position: absolute; 
    top: 0%; 
    right: 0%; 
    width: 100%; 
    height: 100%; 
    background: darkorchid; 
    transition: 0.5s ease-in-out; 
} 
#eleventh:hover::before { 
    right: -100%; 
} 
#twelfth { 
    position: absolute; 
    top: 1400px; 
    right: 50%; 
    font-size: 20px; 
    padding: 15px; 
} 
#twelfth::before { 
    content: "12. fake"; 
    text-align: center;
    color: white;
    position: absolute; 
    top: 0%; 
    right: 0%; 
    width: 100%; 
    height: 100%; 
    background: darkorchid; 
    transition: 0.5s ease-in-out; 
} 
#twelfth:hover::before { 
    right: -100%; 
} 

/* -- Flip cards -- */
.flip-card {
  background-color: transparent;
  margin-top: 80px;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.header{
    width: 100%;
    height: 50px;
    background: black;
    display: flex;
    justify-content: center;
}
.main{
    padding: 10px 20px;
    color: white;
    font-size: 26px;
}