*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #4A2F52;
}
a{
    text-decoration: none;
    color:white;
}
/*-----------------------------------------------------header page-------------------------------------------------*/
.header{
    width: 100%;
    height: 50px;
    background: black;
    display: flex;
    justify-content: space-between;
}
.main{
    padding: 10px 20px;
    color: white;
    font-size: 27px;
}
/*------------------------------------------------------- navbar --------------------------------------------------------- */
.container{
    width: 100%;
    height: 100%;
}
.menu{
    background:linear-gradient(45deg, #d82f87, #2a1b3d, #44318D, #501d18, #024553);
}
.menu ul{
    display: inline-flex;
    padding: 10px;
}
.menu ul li{
    list-style-type: none;
    margin: 0 6px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    position: relative;
}
.menu ul li::after{
    content: '';
    height: 3px;
    width: 100%;
    background: radial-gradient(#8904DC, #F72B9E, #F8D040);
    position: absolute;
    left: 0;
    bottom: -9px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}
.menu ul .active:hover{
    color: #8904DC;
}
.menu ul .passive:hover{
    color: #F8D040;
}
.menu ul .med:hover{
    color: #F72B9E;
}
.menu ul li:hover::after{
    opacity: 1;
}
.menu1{
    margin-top: 20px;
    padding-left: 50%;
}
.menu1 ul li{
    list-style-type: none;
    margin: 0 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.btn-aboutus{
    position: absolute;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(#4A2F52, #4A2F52), radial-gradient(circle at top left, #8904DC, #F72B9E, #F8D040);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.btn-aboutus span{
    display: block;
    padding: 8px 22px;
}
/*------------------------------------------------image & text-------------------------------------------------------------*/
.mssg{
    display: flex;
    justify-content: space-between;
}
.mssg h1{
    padding-left: 40px;
    font-size: 50px;
    margin-top: 100px;
    color: white;
}
/*-------------------------------------------------- Home card -------------------------------------------------------*/
.container1{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}
.mycard{
    position: relative;
    max-width: 310px;
    height: 490px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    background: white;
    flex-direction: column;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.8);
    transition: 0.5s ease-in-out;
}
.mycard:hover{
    height: 450px;
}
.mycard .Dadi{
    position: relative;
    width: 260px;
    height: 260px;
    top: -10px;
    left: 20px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.mycard h3{
    font-size: 30px;
}
.Dadi img{
    max-width: 300px;
    height: 300px;
    border-radius: 6px;
    background-color: white;
}
.mycard .DaDiDetail{
    position: relative;
    margin-top: -110px;
    padding: 10px 15px;
    text-align: center;
    color: black;
    font-family: monospace;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    font-size: 20px;
}
.mycard:hover .DaDiDetail{
    visibility: visible;
    opacity: 1;
    margin-top: 14px;
}
/* -------------------------------------------footer--------------------------------- */
.footer{
    width: 100%;
    height: 50px;
    background: black;
    display: flex;
    justify-content: center;
}
.main{
    padding: 10px 20px;
    color: white;
    font-size: 26px;
}